@{
    var persona = (Persona)Model;
}

<h1>Crear Cuenta</h1>

<form action="/persona/create" method="post">
    Nombre <input required name="Nombre" />
    @Html.ValidationMessage("Nombre")

    Apellido <input required name="Apellido" />
    @Html.ValidationMessage("Apellido")

    FNacimiento <input required name="FNacimiento" />
    @Html.ValidationMessage("FNacimiento")

    DNI <input required name="DNI" />
    @Html.ValidationMessage("DNI")

    Genero <select name="Genero">
        <option value="Femenino">Femenino</option>
        <option value="Masculino">Masculino</option>
    </select>

    Ciudad <input required name="Ciudad" />
    @Html.ValidationMessage("Ciudad")

    Direccion <input required name="Direccion" />
    @Html.ValidationMessage("Direccion")

    Correo <input required name="Correo" />
    @Html.ValidationMessage("Correo")

    Username <input required name="username" />
    @Html.ValidationMessage("username")

    Password <input required name="Password" />
    @Html.ValidationMessage("Password")

    <button>Guardar</button>

</form>